<h1>Send in your user info here:</h1>

<form style="color: white; text-align: center;" method="post" action="/">
  First Name:<input style="color: black;" name="fname">
  <br>
  <hr>
  <br>
  Last Name:<input style="color: black;" name="lname">
  <br>
  <hr>
  <br>
  Email:<input style="color: black;" name="email">
  <br>
  <hr>
  <br>
  Avatar Pic URL:<input style="color: black;" name="picurl">
  <br>
  <hr>
  <br>
  Birthday:<input style="color: black;" name="bday">
  <br>
  <hr>
  <br>
    Quote:<input style="color: black;" name="quote">
  <br>
  <hr>
  <br>
    Favorite color:<input style="color: black;" name="color">
  <br>
  <hr>
  <br>
    Day:<input style="color: black;" name="day">
  <br>
  <hr>
  <br>
    Month:<input style="color: black;" name="month">
  <br>
  <hr>
  <br>
    Year:<input style="color: black;" name="year">
  <br>
  <hr>
  <br>
  Country:<input style="color: black;" name="country">
  <br>
  <hr>
  <br>
    City:<input style="color: black;" name="city">
  <br>
  <hr>
  <br>
      Favorite song:<input style="color: black;" name="song">
  <br>
  <hr>
  <br>
        Week Day :<input style="color: black;" name="wday">
  <br>
  <hr>
  <br>
  <input style="color: black;" type="submit">
</form>